.confetti {
  position: fixed;
 /* Use fixed to cover the whole viewport */
  width: 10px;
  height: 10px;
  background-color: #f00;
 /* This will be overridden by inline style */
  top: -20px;
  opacity: 0.8;
  z-index: 9999;
 /* Ensure it's on top */
}

.tier-segment.flash {
    background-color: rgba(255, 255, 255, 0.3);
    animation: flash-anim 0.7s ease-out;
    z-index: 1;
}